@media (max-width: 900px) {
  .logo {
    width: 8rem;
  }
  .form {
    flex-direction: column;
    .form-control {
      input {
        width: 60vw;
      }
    }
    button {
      margin: 1rem 0 0;
      width: 100%;
    }
  }
  .dashboard {
    width: 56rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .form {
    .form-control {
      input {
        @include styleMobile;
      }
      label {
        top: 5rem;
      }
      small {
        font-size: 1.2rem;
        margin: 0.5rem 0 0;
      }
    }
  }
  button {
    @include styleMobile;
  }
  .dashboard {
    width: 30rem;
  }
}
